{% extends 'base.html' %}

{% block content %}
	<section class="character-page-container">	
		<p>Create page for character</p>
		<div class="preview-image">
			<img id="character-upload-thumb" />
		</div>
		<form 
			id="new_character_form" 
			class="pure-form"
			action="/characters/create/" 
			method="post" 
			enctype='multipart/form-data'>
			{% csrf_token %}
			{{ form }}

			<p>Who They Fucked</p>

			{{ relations_form.management_form }}
			{% for relation in relations_form %}
				<div class="relation-form">
					<div class="relation-form-content">
						<section class="field-group">
							{{ relation.label_tag }}
							{{ relation }}
						</section>
						<button 
							type="button" 
							class="delete-relation-form"
							onclick="deleteRelationElement(this)"><i class="fas fa-trash"></i></button>
					</div>
					<hr />
				</div>
			{% endfor %}

			<button 
				class="pure-button"
				type="button" 
				id="add-relation-form">Add another relation</button>

			<p>references</p>
			{{ references_form.management_form }}
			{% for reference in references_form %}
				<div class="reference-form">
					{{ reference.label_tag }}
					{{ reference }}
					<button 
						type="button" 
						class="delete-reference-form">
						<i class="fas fa-trash"></i>
					</button>
					<hr />
				</div>
			{% endfor %}

			<button
				class="pure-button"
				type="button"
				id="add-reference-form"
				>Add another reference</button>

			<hr />

			<input 
				class="pure-button character-submit"
				type="submit" 
				value="Save">
		</form>
	</section>

	{% load static %}
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
