{% extends 'base.html' %}

{% block content %}

<a href="{% url 'character_update' %}?character_id={{ results.id }}">Update character</a>
<h2>{{ results.name }} {{ results.f_status_text }}</h2>

<h3>Series: {{ results.series }}</h3>

<h4>Summary</h4>
<p>{{ results.summary }}</p>

{% if results.f_status == "yes" %}
	<h4>Relations</h4>

	{% for relation in results.relations %}
		<h5>{{ relation.character_name }}</h5>
		<p>{{ relation.relation_summary }}</p>
	{% endfor %}
{% endif %}

{% for reference in results.references %}
	<p>{{ reference.text }}
{% endfor %}

{% endblock %}
