{% extends 'base.html' %}

{% block content %}
	<p>This is a form to create a character!</p>
	<form id="new_character_form" action="/characters/create/" method="post">
		{% csrf_token %}
		{{ form.as_p }}

		<p>relations</p>

		{{ relations_form.management_form }}
		{% for relation in relations_form %}
			<div class="relation-form">
				{{ relation.label_tag }}
				{{ relation }}
				<button type="button" class="delete-relation-form">Delete</button>
			</div>
		{% endfor %}

		<button 
			type="button" 
			id="add-relation-form">Add another relation</button>

		<p>references</p>
		{{ references_form.management_form }}
		{% for reference in references_form %}
			<div class="reference-form">
				{{ reference.label_tag }}
				{{ reference }}
				<button type="button" class="delete-reference-form">Delete</button>
			</div>
		{% endfor %}

		<button
			type="button"
			id="add-reference-form"
			>Add another reference</button>

		<input type="submit" value="submit">
	</form>

	{% load static %}
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
