<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Does He fuck?</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<nav>
		<section>
			<a href="{% url 'home' %}">Home</a>
		</section>
		<section>
			<a href="{% url 'character_list' %}">Characters</a>
			<a href="{% url 'series_list' %}">Series</a>
		</section>
		<section>
			<a href="{% url 'register' %}">Sign Up</a>
			<a href="{% url 'login' %}">Log In</a>
		</section>
	</nav>

	<body>
		{% block content %}
		{% endblock %}
	</body>

</html>
