<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Does He fuck?</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
	</head>

	<nav class="pure-menu pure-menu-horizontal navbar">
		<section class="pure-menu-heading">
			<a href="{% url 'home' %}">DHF?</a>
		</section>
		<section class="pure-menu-list navbar-groups">
			<section class="pure-menu-item pure-menu-list navbar-group">
				<a class="pure-menu-link" href="{% url 'character_list' %}">Characters</a>
				<a class="pure-menu-link" href="{% url 'series_list' %}">Series</a>
			</section>
			<section class="pure-menu-item pure-menu-list navbar-group">
				<a class="pure-menu-link" href="{% url 'register' %}">Sign Up</a>
				<a class="pure-menu-link" href="{% url 'login' %}">Log In</a>
			</section>
		</section>
	</nav>

	<body>
		{% block content %}
		{% endblock %}
	</body>

</html>
